parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          false
    debug_redirects:        false

    trello:
      api:
        base_url: 'https://api.trello.com/1/'
        application_key: ''
        auth_token: ''

    github:
      api:
        auth_token: ''
        user_name: ''
